* {
    margin: 0.5vh;
    padding: 0%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body {
    background-color: rgb(176, 182, 182);
}

.header {
    width: 100%;
    height: 8vh;
    border-style: ridge;
    border-width: medium;
    padding: 10px;
    background-color: rgb(15, 250, 250);
    color: rgb(0, 0, 0);
    font-style: oblique;
    display: inline-block;
    position: fixed;


}

.head {
    height: 12vh;
    background-color: rgb(19, 29, 31);
}